@model BugTrackerV1._0.Models.IdentityModels.LoginModel

@{
    ViewData["Title"] = "Login";
}

<body class="bg-dark">
    <div class="container">
        <form asp-controller="Identity" asp-action="Login" method="post">
            <div class="row justify-content-center">
                <div class="col-4 align-self-center">
                    <h2 class="text-light">Login</h2>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label text-light"></label>
                        <input asp-for="Username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-light"></label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-light" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>





