<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="by-status-chart-div"></div>

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(LoadDataByStatus);
    function LoadDataByStatus() {
        $.ajax({
            url: 'DashboardChart/PopulateStatusGraph',
            dataType: "Json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.response + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                PopulateStatusChart(data);
                return false;
            }
        });
        return false;
    }
    function PopulateStatusChart(data) {
        var dataArray = [
            ['Status', 'Tickets']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.statusName, item.numberOfBugs]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            'title': 'Tickets By Status',
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('by-status-chart-div'));
        chart.draw(data, options);
        return false;
    }
</script>