@model BugTracker.Models.ProjectModels.ProjectIndexModel
@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped" style="padding:15px">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Developer Assigned</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.ListingModel)
        {
            <tr onclick="location.href = '@(Url.Action("Detail", "Project", new { id = project.Id }))'">
                <td>@project.Name</td>
                <td>@project.Team</td>
                <td>@project.Description</td>
            </tr>
        }
    </tbody>
</table>

