@model BugTracker.Models.ManagementModels.AssignRolesIndexModel

@{
    ViewData["Title"] = "ManageRoles";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Assign Roles</h2>
            <form asp-controller="Management" asp-action="AssignRoles" method="post">
                <div class="form-group">
                    <label asp-for="User" class="control-label"></label>
                    <select class="form-control" asp-for="User">
                        @foreach (var username in Model.Usernames)
                        {
                            <option>@username</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <select class="form-control" asp-for="Role">
                        @foreach (var role in Model.Roles)
                        {
                            <option>@role</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-dark" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Add Roles</h2>
            <form asp-controller="Management" asp-action="AddRoles" method="post">
                <div class="form-group">
                    <label class="control-label">Role Title</label>
                    <input type="text" class="form-control" placeholder="Role title.." name="roleName">
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Delete Roles</h2>
            <form asp-controller="Management" asp-action="DeleteRoles" method="post">
                <div class="form-group">
                    <label class="control-label">Role Title</label>
                    <select class="form-control" name="roleName">
                        @foreach (var role in Model.Roles)
                        {
                            <option>@role</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
</div>





