@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<div class="sidebar-heading text-light">Bug Tracker System</div>
<div class="list-group list-group-flush">
    @if ((await AuthorizationService.AuthorizeAsync(User, "View Dashboard")).Succeeded)
    {
        <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="DashboardChart" asp-action="Index">Dashboard</a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "Submit Bugs")).Succeeded)
    {
        <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Submission" asp-action="Index">Create Ticket</a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "Manage Roles")).Succeeded)
    {
        <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Identity" asp-action="ManageRoles">Manage Roles</a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "Manage Projects")).Succeeded)
    {
        <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Identity" asp-action="ManageProjects">Manage Projects</a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "View Bugs")).Succeeded)
    {
        <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Bug" asp-action="Index">My Tickets</a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "View Profile")).Succeeded)
    {
        <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Account" asp-action="UserProfile">User Profile</a>
    }
</div>